/* Общие стили для авторизации */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F4F4F9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.auth-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.auth-box h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

.auth-box input[type="text"],
.auth-box input[type="password"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #6C63FF;
    border-radius: 8px;
    outline: none;
    font-size: 1em;
}

.auth-box input[type="text"]:focus,
.auth-box input[type="password"]:focus {
    border-color: #6C63FF;
}

.auth-box button {
    width: 100%;
    padding: 12px;
    background-color: #6C63FF;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
}

.auth-box button:hover {
    background-color: #5548c8;
}

.auth-box .link {
    margin-top: 20px;
}

.auth-box .link a {
    color: #6C63FF;
    text-decoration: none;
}

.auth-box .link a:hover {
    text-decoration: underline;
}

/* Темная тема */
body.dark-theme {
    background-color: #333;
}

body.dark-theme .auth-box {
    background-color: #444;
    color: #fff;
}

body.dark-theme .auth-box input[type="text"],
body.dark-theme .auth-box input[type="password"] {
    background-color: #333;
    border: 1px solid #fff;
    color: #fff;
}

body.dark-theme .auth-box button {
    background-color: #6C63FF;
}

body.dark-theme .auth-box .link a {
    color: #fff;
}




